
// Panels
// -------------------

// Overrides: atom/static/panels.less

.panel-heading {
  border-bottom: 1px solid @panel-heading-border-color;
  background-color: @panel-heading-background-color;
}

.inset-panel {
  background-color: @inset-panel-background-color;
  .panel-heading {
    background-color: lighten(@inset-panel-background-color, 4%);
  }
}


// Modal -------------------
// Used on top of the editor, like the Command Palette.

atom-panel.modal, .overlay.from-top {
  border: 1px solid @overlay-border-color;
  box-shadow: 0 2px 20px 5px hsla(0,0%,0%,.3);
  top: 50%;
  margin-top: -200px;
  border-radius: 5px;

  atom-text-editor {
    background: transparent !important;
  }

  &::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: fade(@base-background-color, 50%);
    z-index: -1;
    backface-visibility: hidden;
  }

  .icon::before {
    vertical-align: top;
    margin-top: 4px;
  }
}
